@font-face {
  font-family: 'ArialNarrow';
  src: url('../fonts/arialnarrow.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'ArialNarrow';  
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  flex: 1 1 auto;
}