.open-blog {
  margin-top: 8px;
  margin-left: 26px;
  margin-right: 26px;
}
.open-blog__home {
  max-width: 1224px;
  width: 100%;
  height: 760px;
  margin: 0 auto;
  position: relative;
}
.open-blog__img {
  width: 100%;
  height: 100%;
}
.home__title {
  width: 447px;
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: -2.88px;
  text-transform: uppercase;
}

/* HOME ABOUT */

.home__about {
  max-width: 1224px;
  margin: 0 auto;
  margin-top: 64px;

}
.about__first,
.about__second {
  display: flex;
  gap: 20px;
}
.about__title {
  display: block;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  width: 600px;
}
.about__text {
  max-width: 496px;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
}
.about__second {
  margin-top: 25px;
}

/* CARE */
.care {
  margin-top: 64px;
}
.care__wrapper {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  position: relative;
}
.care__play {
  position: absolute;
  top: 45%;
  left: 15%;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
}
.care__img {
  max-width: 496px;
  height: 100%;
}

.care__title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  width: 268px;
}
.care__text {
  margin-top: 8px;
  width: 496px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
}
.care__line {
  margin-top: 10px;
}
.care__photos-wrapper {
  display: flex;
  gap: 24px;
}
.care__photos {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  height: 288px;
  display: flex;
  justify-content: space-between;
}
.care__pic {
  max-width: 288px;
  width: 100%;
  height: 100%;
}


.intresting {
  margin-top: 64px;
}

.intresting__maybe {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.intresting__heading-wrapper {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.intresting__title {
  color: #000;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
}
.intresing__arrow-right,
.intresing__arrow-left  {
  height: 36px;
  cursor: pointer;
}


/*  */
.blocks {
  margin-top: 24px;
}
.blog__items-wrapper {
  margin-top: 64px;
  padding-left: 28px;
  padding-right: 28px;
}
.blog__items {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.blog__items::-webkit-scrollbar {
  display: none;
}
.blog__item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.blog__title {
  color: #000;
  width: 199px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
}
.blog__img {
  max-width: 392px;
  width: 100%;
}
.blog__read {
  cursor: pointer;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: -0.96px;
  text-transform: uppercase;
}
.small__arrow {
  display: none;
}
/*  */
.open-blog__img-small {
  display: none;
}

@media (max-width: 1100px) {
  .intresing__arrow-right,
  .intresing__arrow-left {
    max-width: 200px;
  }
}
@media (max-width: 1050px) {
  .care__text {
    width: 356px;
  }
  .care__title {
    width: 300px;
  }
}
@media (max-width: 970px) {
  .care__photos {
    gap: 20px;
  }
}
@media (max-width: 950px) {
  .about__text {
    font-size: 16px;
  }
  .care__title {
    font-size: 24px;
  }
  .care__line {
    height: 338px;
    width: 260px;
  }
  .care__text {
    width: 256px;
    font-size: 16px;
    letter-spacing: -0.64px;
    line-height: 120%; /* 19.2px */
  }
  .blog__items {
    grid-template-columns: repeat(auto-fill, minmax(288px, 288px));
  }
  .care__pic {
    width: 240px;
    height: 240px;
  }
  .blog__img {
    width: 288px;
    height: 288px;
  }
  .open-blog__img,
  .open-blog__home {
    height: 70%;
  }
  .home__title {
    font-size: 42px;
    width: 261px;
    left: 35%;
    top: 45%;
  }
}
@media (max-width: 935px) {
  .blog__items {
    align-items: center;
    justify-content: start;
  }
}
@media (max-width: 830px) {
  .care__img {
    width: 400px;
    height: 450px;
  }
  .care__play {
    top: 35%;
    left: 18%;
  }
  .care__line {
    height: 270px;
  }
}
@media (max-width: 768px) {
  .intresing__arrow-right,
  .intresing__arrow-left {
    width: 150px;
  }
  .intresting__title {
    font-size: 42px;
  }
  .care__pic {
    width: 200px;
    height: 200px;
  }
  .care__photos {
    height: 200px;
  }
  .blog__items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    column-gap: 24px;
  }
  .blog__img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 700px) {
  .about__first,
  .about__second,
  .care__wrapper {
    flex-direction: column;
  }
  .care__play {
    top: 20%;
    left: 23%;
  }
  .care__text {
    width: 100%;
  }
  .care__line {
    width: 100%;
    height: 200px;
  }
  .care__photos {
    overflow: auto;
  }
  .care__photos::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 650px) {
  
  .home__title {
    display: none;
  }
}
@media (max-width: 570px) {
  .about__title {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .intresing__arrow-left,
  .intresing__arrow-right {
    display: none;
  }
  .small__arrow {
    cursor: pointer;
    display: block;
  }
  .intresting__heading-wrapper {
    justify-content: space-around;
  }
  .blog__items {
    display: flex;
    overflow: auto;
    justify-content: start;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  .blog__items::-webkit-scrollbar {
    display: none;
  }
  .blog__img {
    width: 100%;
    object-fit: cover;
  }
  .blog__item {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .care__play {
    font-size: 36px;
    top: 30%;
    left: 40%;
  }
}
@media (max-width: 430px) {
  .care__img {
    width: 300px;
    height: 300px;
    
  }
  .care__photos {
    height: 200px;
  }
  .care__photos::-webkit-scrollbar {
    display: none;
  }
  .care__play {
    top: 20%; 
  }
}
@media (max-width:400px) {
  .open-blog__img {
    display: none;
  }
  .open-blog__img-small {
    display: block;
    width: 100%;
  }
  .open-blog__home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 330px) {
  .care__img {
    width: 290px;
  }
}