.open-blog {
  margin-top: 8px;
  margin-left: 26px;
  margin-right: 26px;
}
.open-blog__home {
  max-width: 1224px;
  width: 100%;
  height: 760px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/open-blog-pic.png');
  background-size: cover;
  background-position: center center;
}
.open-blog__img {
  width: 100%;
  height: 100%;
}
.home__title {
  text-align: center;
  width: 447px;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: -2.88px;
  text-transform: uppercase;
}
.production__wrapper {
  background-image: url('../img/banner.png');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.production {
  margin-top: 40px;
}
.production__wrapper {
  max-width: 1224px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.production__img {
  width: 100%;
  height: 400px;
}

.production__title {
  color: #FFF;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.56px;
  text-transform: uppercase;
}
.production__more {
  border-radius: 10000px;
  border: 1px solid var(--White, #FFF);
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(12px);
  color: var(--White, #FFF);
  text-align: center;
  width: 107px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 75px;
}
.home__download {
  display: none;
}

@media (max-width: 780px) {
  .open-blog__home {
    height: 444px;
  }
  .home__title {
    font-size: 42px;
  }
  .production__more {
    margin-top: 14px;
  }
  .production__wrapper {
    height: 300px;
  }
  .production__title {
    font-size: 36px;
  }
  .production__more {
    font-size: 14px;
    width: 97px;
  }
}
@media (max-width: 450px) {
  .open-blog__home {
    background-image: url('../img/open-blog-small.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home__download {
    display: block;
    border-radius: 10000px;
    border: 1px solid var(--White, #FFF);
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(12px);

    margin-bottom: 26px;
    margin-top: 144px;
    padding-top: 12px;
    width: 140px;
    height: 36px;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }
  .open-blog {
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
