.about__home {
  max-width: 1224px;
  width: 100%;
  height: 762px;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url("../img/about-photo.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.about__home-wrapper {
  padding-left: 26px;
  padding-right: 26px;
}
.about__home-title {
  color: var(--White, #FFF);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
  margin-top: 30px;
}


/* CARE */
.care {
  margin-top: 64px;
  padding-left: 26px;
  padding-right: 26px;
}
.care__info-subtitle {
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.care__info-title {
  color: var(--Black, #000);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.care__wrapper {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  position: relative;
}
.care__play {
  position: absolute;
  top: 45%;
  left: 15%;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
}
.care__img {
  max-width: 496px;
  height: 100%;
}

.care__title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  width: 268px;
}
.care__text {
  margin-top: 8px;
  max-width: 496px;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
}
.care__line {
  margin-top: 10px;
  max-width: 706px;
  width: 100%;
}
.care__photos-wrapper {
  display: flex;
  gap: 24px;
}
.care__photos {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  /* height: 288px; */
  display: flex;
  justify-content: space-between;
}
.care__pic {
  max-width: 288px;
  width: 100%;
  height: 288px;
}
.card__title {
  margin-top: 8px;
  width: 200px;
  color: var(--Black, #000);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
}
.card__text {
  margin-top: 28px;
  width: 288px;
  color: var(--Black, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
}

.founders {
  margin-top: 120px;
  padding-left: 26px;
  padding-right: 26px;
}
.founders__wrapper {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}
.founders__title {
}
.founders__meet {
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.founders__our {
  color: var(--Black, #000);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
}
.founder__wrapper {
  display: flex;
  gap: 15px;
  margin-top: 24px;
}
.founder {
  width: 444px;
}
.founder__name {
  width: 70px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 8px;
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.founder__photo {
  width: 444px;
  height: 592px;
}

.founder__line {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 444px;
}
.founder__subtitle {
  margin-top: 52px;
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.foudner__title {
  margin-top: 24px;
  color: var(--Black, #000);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
}
.founder__join {
  display: block;
  width: 111px;
  height: 42px;
  padding-top: 12px;
  border-radius: 10000px;
  margin: 0 auto;
  margin-top: 404px;
  border: 1px solid var(--Black, #000);;
  color: var(--Black, #000);
  text-align: center;
  font-family: Arial Narrow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  transition: all .2s ease;
}
.founder__join:hover {
  background-color: #000;
  color: #FFF;
}
.founder__bio-wrapper {
  height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
.founder__bio-wrapper.active {
  height: 150px;
}

.values {
  margin-top: 120px;
  padding-left: 26px;
  padding-right: 26px;
}
.values__these {
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-top: 16px;
}
.values__core {
  color: var(--Black, #000);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 24px;
}
.values__item-title {
  color: var(--Black, #000);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
  padding-left: 8px;
  height: 64px;
}
.values__item-text {
  color: var(--Black, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
  padding-left: 8px;
  margin-top: 128px;
}
.values__items {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.values__item {
  width: 302px;
  height: 248px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000;
}
.values__company {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.values__arrow {
  width: 381px;
  height: 36px;
}


/* PROFIT */

.profit {
  margin-top: 72px;
  padding-left: 26px;
  padding-right: 26px;
}
.profit__title-wrapper {
}

.profit__title {
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.profit__values {
  color: var(--Black, #000);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.profit__wrapper {
  max-width: 1260px;
  width: 100%;
  height: 495px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.profit__stats {
  width: 271px;
  display: flex;
  flex-direction: column;
  gap: 69px;
}
.profit__stat {
  display: flex;
  gap: 8px;
}
.stat__number {
  color: var(--Black, #000);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
}
.stat__title {
}
.profit__photo-wrapper {
}
.profit__photo {
  max-width: 928px;
  width: 100%;
  /* height: 495px; */
  height: 100%;
}

.question {
  margin-top: 120px;
  padding-left: 26px;
  padding-right: 26px;
}
.question__wrapper {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}
.question__subtitle {
  color: var(--Black, #000);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.question__title {
  color: var(--Black, #000);
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.accordion__title.faq {
  width: 600px;
  height: 64px;
  display: flex;
  align-items: center;
}
.faq__border {
  content: '';
  display: block;
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #000;
}
.panel.faq {
  justify-content: end;
}
.panel.active.faq {
  background-color: transparent;
  margin-top: -85px;
}

.accordion {
  /* background-color: #eee; */
  color: #000;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #000 1px solid;
}
.accordion__title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: -1.28px;
  text-transform: uppercase;
}



.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;

  width: 808px;
  margin-left: 300px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.panel.active {
  margin-top: -50px;
}
.panel__title {
  display: block;
  width: 258px;
  /* width: 100%; */
}
.accordion.active .panel {
  margin-top: -100px;
}
.panel__title,
.panel__wrapper-subtitle {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.panel__wrapper-text {
  margin-top: 8px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
}
.panel__wrapper {
  max-width: 490px;
  width: 100%;
}
.panel__duration,
.panel__price {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;

}
.accordion__cross {
  content: '';
  width: 48px;
  height: 1px;
  background-color: #000;
}

.accordion__cross::after {
  display: block;
  content: "";
  width: 48px;
  height: 1px;
  background-color: #000;
  transform: rotate(90deg);
  opacity: 1;
  transition: all .2s ease;
}
.accordion.active .accordion__cross::after  {
  opacity: 0;
}
.panel__price-wrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel__book-wrapper {
  display: block;
  max-width: 1224px;
  width: 100%;
  border-top: 1px solid black;
}
.panel__book {
  display: block;
  width: 142px;
  height: 42px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 12px;
  /* padding: 12px 32px; */
  border-radius: 10000px;
  border: 1px solid #000; 
  text-align: center;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  transition: .2s ease all;
}
.panel__book:hover {
  background-color: #000;
  color: #FFF;
}




.banner {
  margin-top: 90px;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 20px;
}
.swiper-slide.buy {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center center;
}
.swiper-slide.gift {
  background-image: url("../img/swiper-gift.png");
  background-size: cover;
  background-position: center center;
}
.swiper__wrapper.gift{
  max-width: 1224px;
  width: 100%;
  height: 380px;
  margin: 0 auto;
}

.swiper-slide.buy,
.swiper-slide.gift {
  max-width: 1224px;
  width: 100%;
  height: 380px;
}
.swiper-slide.buy h1,
.swiper-slide.gift h1 {
  margin-top: 120px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide h1 {
  margin-top: 330px;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -2.88px;
  text-transform: uppercase;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #FFF;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 16px;
}
.swiper-pagination-bullet {
  background-color: #FFF;
  opacity: 1 !important;
}
.swiper-pagination {
  margin-bottom: 36px;
  
}
.look__at {
  display: none;
}
.values__arrow-small {
  display: none;
}
@media (max-width: 1200px) {
  .founder__photo {
    width: 319px;
    height: 416px;
  }
  .founder__bio-wrapper.active {
    height: 160px;
  }
  .founder__line {
    width: 319px;
    height: 48px;
  }
  .foudner__title {
    font-size: 24px;
  }
  .founder__join {
    margin-top: 270px;
  }
  .values__item-text {
    margin-top: 0;
    padding-right: 24px;
  }
  .values__item {
    justify-content: space-between;
  }
  .accordion__title.faq {
    width: 400px;
    height: 100%;
  }
  .panel.faq {
    justify-content: center;
  }
  .panel__wrapper-text {
    margin-top: 30px;
  }
}
@media (max-width: 1100px) {
  .values__company {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .values__arrow {
    display: none;
  }
  .panel__wrapper-text {
    width: 282px;
  }
}
@media (max-width: 1000px) {
  .profit__photo {
    max-width: 532px;
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 960px) {
  .care__line {
    height: 330px;
  }
  .care__pic {
    width: 240px;
    height: 240px;
  }
  .card__text {
    width: 240px;
  }
}
@media (max-width: 920px) {
  .founder__join {
    margin-top: 250px;
  }
}
@media (max-width: 900px) {
  .founder__photo {
    width: 292px;
  }
  .founders__meet {
    font-size: 14px;
  }
  .founders__our {
    margin-top: 8px;
    font-size: 42px;
  }
  .founder__photo.polina {
    width: 292px;
  }
  .founder__line {
    max-width: 292px;
    width: 100%;
  }
  .founder__join {
    margin-top: 230px;
  }
}
@media (max-width: 850px) {
  .founder__photo {
    width: 260px;
    height: 350px;
    object-fit: cover;
  }
  .founder__line {
    width: 270px;
    margin-left: 10px;
  }
  .founder__join {
    margin-top: 170px;
  }
  .panel__wrapper {
    margin-right: 100px;
  }
}
@media (max-width: 820px) {
  .card__title {
    font-size: 24px;
  }
  .card__text {
    font-size: 16px;
  }
  .care__img {
    width: 440px;
    height: 440px;
  }
  .care__line {
    height: 280px;
  }
  .care__pic {
    width: 210px;
    height: 210px;
  }
  .card__text {
    width: 210px;
  }
  .care__photos {
    gap: 14px;
    justify-content: start;
  }
  .care__pic {
    width: 230px;
  }
  .care__photos-wrapper {
    gap: 14px;
  }
}
@media (max-width: 800px) {
  .accordion__title.faq {
    font-size: 24px;
    width: 348px;
  }
  .panel__wrapper-text {
    width: 268px;
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .care__info-subtitle {
    font-size: 14px;
  }
  .care__info-title {
    font-size: 42px;
  }
  .founder__photo,
  .founder__photo.polina {
    width: 260px;
  }
  .founder__join {
    margin-top: 140px;
  }
  .founder__line {
    width: 250px;
  }
  .about__home {
    height: 716px;
  }
  .about__home-title {
    font-size: 42px;
  }
  .values__item-text {
    font-size: 16px;
  }
  .values__item-title {
    font-size: 24px;
  }
  .values__core {
    font-size: 42px;
  }
  .values__these {
    font-size: 14px;
  }
  .values__item {
    height: 191px;
  }
  .profit__photo {
    height: 400px;
  }
  .profit__title {
    font-size: 14px;
  }
  .profit__values {
    font-size: 42px;
  }
  .profit__stats {
    justify-content: space-between;
    gap: 0;
  }
  .profit__wrapper {
    height: 400px;
  }
  .stat__number {
    font-size: 42px;
  }
  .panel__wrapper {
    margin-right: 170px;
  }
  .accordion__cross,
  .accordion__cross::after {
    width: 24px;
  }
  .swiper-slide.buy h1,
  .swiper-slide.gift h1 {
    font-size: 36px;
    max-width: 660px;
    width: 100%;
  }
}
@media (max-width: 755px) {
  .care__text {
    width: 220px;
  }
  .care__line {
    max-width: 240px;
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 750px) {
  .founder__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .founder__photo,
  .founder__photo.polina {
    max-width: 450px;
    width: 100%;
    height: 500px;
  }
  .founder__line {
    max-width: 430px;
    width: 100%;
  }
  .founder__join {
    margin-top: 50px;
  }
  .care__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .care__img {
    width: 100%;
  }
  .care__title {
    width: 100%;
  }
  .care__text-wrapper,
  .care__text,
  .care__line {
    max-width: 496px;
    width: 100%;
  }
  .care__line {
    height: 150px;
  }
  .care__photos {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .care__photos::-webkit-scrollbar {
    display: none;
  }
  .values__items {
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .values__items::-webkit-scrollbar {
    display: none;
  }
  .values__item,
  .values__item-text {
    width: 180px;
  }
  .values__item-text {
    height: 105px;
  }
  .panel.active.faq {
    margin-top: 0;
  }
  .panel.faq {
    margin: 0;
    padding-left: 0;
    justify-content: start;
  }
  .panel__wrapper {
    margin-top: 0;
  }
  .panel__wrapper-text {
    margin-top: 0;
  }
}
@media (max-width: 640px) {
  .profit__wrapper {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
  .profit__photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profit__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 550px) {
  .banner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 500px) {
  .founder__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .prices {
    margin-top: 10px;
  }
  .founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .founder__photo,
  .founder__photo.polina {
    width: 340px;
    height: 400px;
  }
  .founder__line {
    width: 340px;
  }
  .founder__bio {
    width: 340px;
  }
  .swiper-slide.buy h1, .swiper-slide.gift h1 {
    width: 180px;
    margin: 0 auto;
    margin-top: 150px;
  }
  .swiper-pagination {
    margin-left: 20px;
  }
  .swiper__wrapper.gift {
    height: 380px;
    width: 100%;
    margin-right: 10px;
  }
  .banner {
    padding-left: 15px;
    height: 380px;
    margin-right: 15px;
  }
  .about__home {
    height: 450px;
  }
  .about__home-wrapper {
    margin-top: 50px;
  }
  .care {
    margin-top: 40px;
  }
  .profit__stats {
    width: 100%;
  }
  .profit__stat:nth-child(2),
  .profit__stat:nth-child(4) {
    justify-content: end;
  }
  .profit__stat {
    justify-content: start;
  }
  .stat__title {
    width: 60px;
  }
  .profit__wrapper {
    gap: 10px;
  }
}

@media (max-width: 470px) {
  .care__img {
    /* height: 380px; */
    height: 100%;
  }
  .about__home-title {
    font-size: 36px;
  }
  .values__arrow {
    width: 60px;
  }
  .values__company {
    justify-content: space-around;
  }
  .values__arrow-small {
    display: block;
  }
  .profit__photo {
    height: 350px;
  }
  .accordion__title.faq {
    font-size: 18px;
    width: 248px;
  }
  .banner {
    padding-left: 15px;
  }
}
@media (max-width: 420px) {
  .profit {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 340px) {
  .values__company {
    justify-content: space-between;
  }
}
@media (max-width: 360px) {
  .founder__photo,
  .founder__photo.polina {
    width: 300px;
    height: 350px;
  }
  .founder__line,
  .founder__bio {
    width: 300px;
  }
}