.nav {
  padding: 0 28px;
  background-color: #fff;
}

.nav__wrapper.home {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* height: 71px; */
  /* padding-top: 10px; */
}
.nav__wrapper.home.active {
  overflow:visible;
}
.nav__wrapper {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 10px;
  left: 15%;
  background-color: #fff;
  height: 75px; 
  transition: height 0.3s ease-in-out; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  

  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 208px;
  height: 61px;
  cursor: pointer;
}
.nav__section {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__dropdown {
  min-width: 132px;
  height: 34px;
  white-space: nowrap;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid var(--Black, #000);
  cursor: pointer;
  position: relative;
  transition: all .2s ease;
  position: relative;
  z-index: 10;
 
}
.dropdown__arrow {
  width: 24px;
  height: 24px;
  transition: all .2s ease;
}
.dropdown__location {
  overflow: hidden;
  padding-right: 5px;
}
.dropdown__location,
.nav__section-menu  {
  color: var(--Black, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav__dropdown.show {
  min-width: 220px;
  
}
.nav__dropdown.show .dropdown__arrow {
  transform: rotate(180deg);
}


.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  height: 130px;
  width: 220px;
  display: none;
  z-index: 5;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #cad8ea;
}

.dropdown-menu.show {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: #000 1px solid;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
}
.compass {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}
.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  width: 203px;
  margin: 0 auto;
}
.dropdown-menu li:last-child {
  border-bottom: none;
  padding-top: 6px;
}
.dropdown-menu li:first-child {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  letter-spacing: -0.72px;
  text-transform: none;
  padding-top: 0;
}
@media (max-width: 1280px) {
  .nav__wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 900px) {
  .nav__dropdown.home {
    height: 30px;
    min-width: 100px;
  }
  .dropdown__location.home,
  .home__li{
    font-size: 12px;
  }
}


@media (max-width: 768px) {
  .nav__logo {
    width: 122px;
    height: 36px;
  }
  .nav__section-menu {
    font-size: 14px;
  }

}
@media (max-width: 490px) {
  .nav__dropdown {
    display: none;
  }
}