@font-face {
  font-family: 'ArialNarrow';
  src: url('../fonts/arialnarrow.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ArialNarrow';
  /* font-family:'Arial Narrow', arial; */
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  flex: 1 1 auto;
}